<div class="container main-container">

    <header>
        <h1 class="display-3">Curso</h1>
        <p class="lead"></p>
    </header>

    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        
                        <td>Nome</td>
                        <td>Valor(R$)</td>
                        <td>Regulamentação</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of listaCurso" class="text-center">
                
                        <td>{{ curso.nome }}</td>
                        <td>{{ curso.valorCurso }}</td>
                        <td>{{ curso.regulamentacao}}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button [routerLink]="['/curso']" class="btn btn-info" >Cadastrar Novo</button>
        </div>
    </div>    
</div>