<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="/assets/sgt.jpg" />
        </div>
        <div class="col-lg-10">
          <h1 class="display-4 text-white mt-5 mb-2">Sistema de Gestão de Treinamentos</h1>
          <p class="lead mb-5 text-white">Escolha uma opção</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container main-container">
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Relatórios</h4>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a class="nav-link"  [routerLink]="['/relatorio']">Relatórios</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/full_dev.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Certificados</h4>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Gerar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fim Content -->  