<!-- Page Content -->
<div class="container main-container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Professor</h1>
        <p class="lead"></p>
    </header>

    <form class="mbr-form">
        <div class="row row-sm-offset">
     
            <div class="col-md-4 multi-horizontal" data-for="nome">
                <div class="form-group">
                    <label class="form-control-label mbr-fonts-style display-7" for="">Nome</label>
                    <input type="text" class="form-control" name="nome" data-form-field="nome" required=""
                        id="email-form1-2w">
                </div>
            </div>
            <div class="col-md-4 multi-horizontal" data-for="cpf">
                <div class="form-group">
                    <label class="form-control-label mbr-fonts-style display-7" for="">CPF</label>
                    <input type="text" class="form-control" name="cpf" data-form-field="cpf" id="phone-form1-2w">
                </div>
            </div>
        </div>
        <div class="form-group" data-for="capacitacao">
            <label class="form-control-label mbr-fonts-style display-7" for="">Capacitação Professor</label>
            <textarea type="text" class="form-control" name="capacitacao" rows="7" data-form-field="Message"
                id="message-form1-2w"></textarea>
        </div>

        <span class="input-group-btn">
            <button (click)='addProfessor()' class="btn btn-primary btn-form display-4">Gravar</button>
        </span>
    </form>
</div>
<br>